{
  "printWidth": 120,
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@.*$",
    "types/.*",
    "assets/.*",
    "data/.*",
    "libs/.*",
    "modules/.*",
    "^\\..*"
  ],
  "importOrderSeparation": false
}
